.flipswitch{
    color: gray;
    height:55px ;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-top: 3px solid rgba(186, 186, 186, 0.371);
    border-bottom: 3px solid rgba(186, 186, 186, 0.371);
    margin-bottom: 10px;
}