.blur {
  font-family: poppins;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal {
  margin: auto auto;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(248, 190, 103);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.modal_div_btn button {
  margin: 5px;
  padding: 3px 8px;
  font-size: 20px;
  border: 0px;
}
.modal_div_btn button:first-child {
  background-color: bisque;
}
.modal_div_btn button:last-child {
  background-color: rgb(241, 90, 67);
}
