.Header-div{
    background-color: #000000;
    display: flex;
    color: white;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 15px;
    height: 60px;
}

.bx-menu{
    font-size: 50px;
}

.header_name{
    font-size: 20px;
    margin-left: 15px;
}